form * {
  display: block;
  width: 80%;
  margin: 1em;
}

#checkbox {
  display: inline;
  width: 15px;
}

div {
  display: flex;
  flex-direction: row;
}

p {
  width: auto;
}

input {
  width: 50%;
}

textarea {
  width: 50%;
}
